body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    margin: 20px 50px;
    text-align: center;
}
header img{
    width: 100%;
    height: 450px;
    border-radius: 16px;
}
.footer{
    border-radius: 10px;
    margin: 50px 50px 30px;
    background-color: #eeeeee;
    padding: 50px 20px;
}

@media (max-width: 768px) {
    header img{
        height: 200px;
    }
}